@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model School_Management_System.Models.Student;

@using (Html.BeginForm("SaveStudent", "Profile", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Login.Username)
        @Html.TextBoxFor(model => model.Login.Username, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Login.Password)
        @Html.PasswordFor(model => model.Login.Password, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth)
        @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gender)
        @Html.TextBoxFor(model => model.Gender, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GradeId)
        @Html.DropDownListFor(model => model.GradeId, ViewBag.Grades as List<SelectListItem>, "Select Grade", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}
